.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid beige;
    width: 500px;
}

img{
    margin: 10px 5px;
    width: 150px;
    border: 5px solid pink;
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    height: 150px;
    object-fit: cover;
}

img:hover{
    border: 5px solid hotpink;
}